:root {
    --dark: #413450;
    --medium: #4C405C;
    --light: #5E5166;

    --red-dark: #7f646e;
    --red-medium: #a47575;
    --red-light: #de8182;

    --green-dark: #6c7771;
    --green-medium: #88a882;
    --green-light: #b2ff9e;
}

@font-face {
    font-family: "Abscissa";
    src: url("../typefaces/Abscissa/Abscissa.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
    /*Designer: Tepid Monkey https://www.1001freefonts.com/abscissa.font*/
}

@font-face {
    font-family: "AbscissaBold";
    src: local('AbscissaBold'), url("../typefaces/Abscissa/AbscissaBold.ttf") format('truetype');
    font-style: normal;
    font-weight: bold;
    /*Designer: Tepid Monkey https://www.1001freefonts.com/abscissa.font*/
}

@font-face {
    font-family: "Kremlin-Orthodox-Church";
    src: local('Kremlin-Orthodox-Church'), url("../typefaces/Eldritch/Kremlin-Orthodox-Church.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
    /*Designer: Bolt Cutter Design https://www.1001freefonts.com/kremlin-orthodox-church.font*/
}


* {
    box-sizing: border-box;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    transform-origin: center;

    ::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

.containment {
    margin: 40px auto auto auto;
    max-width: 1200px;
    padding: 0 100px 0 100px;
}

.wrap-pad {
    padding: 0 0 40px 0;
}

.marginal-margin {
    margin: 5px;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
}

.basic-padding {
    padding: 10px;
}

.thick-padding {
    padding: 50px 100px;
}

.tangent-padding {
    padding: 10px 0;
    /* font-family: 'Abscissa', 'Arial', sans-serif;
    letter-spacing: 1px; */
}

body,
html {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

img {
    width: 100%;
}


header {
    width: 100%;
    top: 0;
    transition: top 0.3s;
    position: fixed;
    z-index: 5;
    background-color: var(--light);
}

header ul,
#progress-list a {
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    /* align-content:center; */
    align-items: center;
    padding: 0;
    font-size: 20px;
}

header ul {
    justify-content: space-around;
}

header ul li {
    width: 100px;
    text-align: center;
    font-family: 'Abscissa', 'Arial', sans-serif;
    letter-spacing: 1px;
}

h1,
h2,
h3,
li,
p {
    margin: 0;
}

h1,
h2,
h3 {
    padding: 0.5em 0;
    font-family: 'Abscissa', 'Arial', sans-serif;
    letter-spacing: 1px;
}

label {
    font-size: 16px;
    font-family: 'Abscissa', 'Arial', sans-serif;
    letter-spacing: 1px;
    display: inline;
    justify-content: right;
}

p {
    display: inline-block;
    margin-bottom: 1em;
}

.interview {
    background-color: antiquewhite;
}

.interview>* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #000000;
}

.flexy-parent {
    display: flex;
    height: 90vh;
    align-items: center;
}

#hist-grid {
    width: 100vw;
    height: 2000px;
}




#hist-hold {
    z-index: 2;
    width: 100vw;
    position: absolute;
    top: 50px;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0);
}

#hist-hold>* {
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    /* text-align: center; */
    transform-origin: 50% 5%;
    transition: transform 0.3s ease;
    margin: 0 0 20px 0;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.3);
    scale: 0.75;

    /* padding: 0 15px 0 15px;
    background-color: #eae8dd; */
}

#hist-hold>*:nth-of-type(odd) {
    transform: rotate(5deg);
}

#hist-hold>*:nth-of-type(even) {
    transform: rotate(-2deg);
}

/* #hist-grid>*:nth-of-type(odd)::before {
    position: relative;
    content: '';
    display: block;
    background-color: rgba(222, 220, 200, 0.66);
    width: 45px;
    height: 15px;
    transform: translate(170px, -15px) rotate(25deg);
} */

#hist-hold>*:nth-of-type(4n+2) {
    transform: rotate(-10deg);
}

#hist-hold>*:hover {
    z-index: 4;
    top: 0;
    left: 0;
    transform: rotate(0deg);
}

.caption-padding {
    padding: 0 0 25px;
}

.crooked3 {
    -ms-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}

#reveal {
    opacity: 0.1;
    transition: all 5s ease;
    position: absolute;
    width: 355px;
    top: 270px;
    left: 10px;
}

#reveal:hover {
    opacity: 1;
}

main,
#about-page,
#help-page,
#progress-page {
    background-color: var(--medium);
}

form input,
select,
datalist,
textarea,
option {
    color: #000000;
}

input::placeholder {
    color: #a3a3a3;
}

input[type="submit"] {
    display: inline-block;
}


#about:hover,
#help:hover,
#progress:hover,
.close-button:hover .button:hover {
    background-color: var(--red-light);
    transition: 0.25s ease-in-out;
    color: var(--medium);
}

.close-button:hover,
.button:hover {
    background-color: var(--red-light);
    border: 1px solid var(--red-medium);
}

.pop-up {
    position: absolute;
    top: 100px;
    max-width: 1000px;
    margin: auto;
    transform: translateY(-150%);
    /* Initially off-screen to the left */
    transition: transform 0.5s ease;
    /* Add a smooth transform transition */
    z-index: 4;
}

.pop-up.active {
    transform: translateY(0);
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.3);
    /* Slide in from the left when active */
}



/*Button css adapted from "Pure CSS Push Buttons" by Mohit Aneja https://codepen.io/cssjockey/pen/bGbmop*/

.close-button,
.button {
    position: relative;
    font-size: 20px;
    display: inline-block;
    align-content: center;
    background-color: var(--red-dark);
    border-radius: 5px;
    top: 0px;
    text-decoration: none;
    /* margin: 0 10px; */
    border: 1px solid var(--red-dark);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 0px var(--red-dark);
    -moz-box-shadow: 0px 5px 0px var(--red-dark);
    -ms-box-shadow: 0px 5px 0px var(--red-dark)f;
    -o-box-shadow: 0px 5px 0px var(--red-dark);
    box-shadow: 0px 5px 0px var(--red-dark);
    -webkit-transition: All 250ms ease;
    -moz-transition: All 250ms ease;
    -o-transition: All 250ms ease;
    -ms-transition: All 250ms ease;
    transition: All 250ms ease;
    font-family: 'AbscissaBold', 'Arial', sans-serif;
    letter-spacing: 1px;
}

.close-button.active,
.button.active {
    position: relative;
    top: 5px;
    background-color: var(--red-light);
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: All 250ms ease;
    -moz-transition: All 250ms ease;
    -o-transition: All 250ms ease;
    -ms-transition: All 250ms ease;
    transition: All 250ms ease;
}

#hint-parent {
    display: flex;
    width: 100%;
    gap: 10vw;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 1em;
}

#hint-parent>* {
    font-weight: bold;
}

#hint-parent>*.helpful {
    background-color: var(--red-light);
    transition: 0.25s ease-in-out;
    color: var(--medium);
}

.clue-text {
    font-weight: normal;
    transition: all 0.3s ease;
}

.clue-text.bold {
    font-weight: bold;
    color: var(--red-light);
}


#text-solution {
    position: relative;
    transform: translateX(5%) translateY(-700%) rotate(-10deg);
    transition: 0.25s ease-in-out;
    color: var(--dark);
    ;
}

.image-solution {
    z-index: 2;
    filter: brightness(0.5);
    transition: filter 1s ease;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
    transition: 1s ease-in-out;
}

/* 
.scene {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    background: #1d1f20;
    text-align: center;
    overflow: hidden;
}

.magic {
    z-index: 5;
    position: absolute;
    width: 100px;
    height: 100px;
    
    background-size: 300px 300px;
    border-radius: 50%;
} */

#earth {
    position: fixed;
    display: block;
    /* top: 0;
    left: 0; */
    object-fit: fill;
    z-index: 3;
    pointer-events: none;
    transition: opacity 2s ease;
    /* This ensures that pointer events (like touch) pass through the earth image */
}



@keyframes glow-animation {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
}

#inciting {
    opacity: 0;
    /* Initially hidden */
    animation: fade-in 1s forwards;
    /* Animation for fading in */
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}










/*Button css adapted from "12 fancy buttons" by bartekd https://codepen.io/bartekd/pen/DrmmbB*/

.preserve-3d {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

body {
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: none;
    background-color: var(--dark);
    /* font-family: Roboto Condensed, sans-serif;
    font-size: 12px; */
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
}

.back {
    width: 33%;
    height: 200px;
    float: left;
    background-color: #eeeeee;
    border: 10px;
    border-color: #ffffff;
    border-style: solid;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    counter-increment: bc;
    padding: 0px 5px 5px 5px;
}

.back:before {
    content: counter(bc) "_";
    position: absolute;
    padding: 10px;
}

@media screen and (max-width: 1260px) {
    .back {
        width: 50%;
    }
}

@media screen and (max-width: 840px) {
    .back {
        width: 100%;
    }
}

.button_base {
    margin: 0;
    border: 0;
    font-size: 18px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -100px;
    width: 200px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    user-select: none;
    cursor: default;
}

.button_base:hover {
    cursor: pointer;
}


.b10_tveffect div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.b10_tveffect div:nth-child(1) {
    color: #000000;
    background-color: #ffffff;
    transition: all 0.1s ease;
    padding: 10px;
    border: #000000 solid 1px;
}

.b10_tveffect div:nth-child(2) {
    overflow: hidden;
}

.b10_tveffect div:nth-child(2) div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    border: #000000 hidden 1px;
}

.b10_tveffect div:nth-child(2) div:nth-child(1) {
    color: var(--red-light);
    opacity: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAGCAYAAAAL+1RLAAAAF0lEQVQIW2NkwAIYgWKS6OIgQQxAoUoAE4AAUnD/0ugAAAAASUVORK5CYII=) repeat;
}

.b10_tveffect div:nth-child(2) div:nth-child(2) {
    color: var(--green-light);
    opacity: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAGCAYAAAAL+1RLAAAAF0lEQVQIW2NkwAIYgWKS6OIgQQxAoUoAE4AAUnD/0ugAAAAASUVORK5CYII=) repeat;
}

.b10_tveffect div:nth-child(2) div:nth-child(3) {
    color: rgba(120, 120, 200, 0.8);
    opacity: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAGCAYAAAAL+1RLAAAAF0lEQVQIW2NkwAIYgWKS6OIgQQxAoUoAE4AAUnD/0ugAAAAASUVORK5CYII=) repeat;
}

.b10_tveffect:hover div:nth-child(1) {
    color: #ffffff;
    background-color: #000000;
    transition: color 0s ease;
    -webkit-transition: color 0s ease;
    -moz-transition: color 0s ease;
    transition: background-color 0.3s ease 0.2s;
    -webkit-transition: background-color 0.3s ease 0.2s;
    -moz-transition: background-color 0.3s ease 0.2s;
}

.b10_tveffect:hover div:nth-child(2) div:nth-child(1) {
    animation: b10_tveffect_red 0.25s linear;
    -webkit-animation: b10_tveffect_red 0.25s linear;
    -moz-animation: b10_tveffect_red 0.25s linear;
}

.b10_tveffect:hover div:nth-child(2) div:nth-child(2) {
    animation: b10_tveffect_green 0.25s linear;
    -webkit-animation: b10_tveffect_green 0.25s linear;
    -moz-animation: b10_tveffect_green 0.25s linear;
}

.b10_tveffect:hover div:nth-child(2) div:nth-child(3) {
    animation: b10_tveffect_blue 0.25s linear;
    -webkit-animation: b10_tveffect_blue 0.25s linear;
    -moz-animation: b10_tveffect_blue 0.25s linear;
}

@keyframes b10_tveffect_red {

    from,
    to {
        opacity: 0;
    }

    25% {
        opacity: 1;
        -webkit-transform: scale(1.8, 1.6) translate(-10px, 3px) skewX(30deg);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.5, 1.2) translate(20px, 6px) skewX(5deg);
    }

    75% {
        opacity: 1;
        -webkit-transform: scale(0.9, 1.8) translate(-16px, -1px) skewX(-20deg);
    }
}

@keyframes b10_tveffect_green {

    from,
    to {
        opacity: 0;
    }

    25% {
        opacity: 1;
        -webkit-transform: scale(1.3, 1.5) translate(3px, 6px) skewX(25deg);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.6, 1.1) translate(-16px, -5px) skewX(-15deg);
    }

    75% {
        opacity: 1;
        -webkit-transform: scale(1, 1.8) translate(18px, 4px) skewX(15deg);
    }
}

@keyframes b10_tveffect_blue {

    from,
    to {
        opacity: 0;
    }

    25% {
        opacity: 1;
        -webkit-transform: scale(1.2, 1.4) translate(-10px, -3px) skewX(-25deg);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.9, 1.1) translate(16px, 3px) skewX(5deg);
    }

    75% {
        opacity: 1;
        -webkit-transform: scale(1.3, 2) translate(-30px, -3px) skewX(20deg);
    }
}

@-moz-keyframes b10_tveffect_red {

    from,
    to {
        opacity: 0;
    }

    25% {
        opacity: 1;
        transform: scale(1.8, 1.6) translate(-10px, 3px) skewX(30deg);
    }

    50% {
        opacity: 1;
        transform: scale(1.5, 1.2) translate(20px, 6px) skewX(5deg);
    }

    75% {
        opacity: 1;
        transform: scale(0.9, 1.8) translate(-16px, -1px) skewX(-20deg);
    }
}

@-moz-keyframes b10_tveffect_green {

    from,
    to {
        opacity: 0;
    }

    25% {
        opacity: 1;
        transform: scale(1.3, 1.5) translate(3px, 6px) skewX(25deg);
    }

    50% {
        opacity: 1;
        transform: scale(1.6, 1.1) translate(-16px, -5px) skewX(-15deg);
    }

    75% {
        opacity: 1;
        transform: scale(1, 1.8) translate(18px, 4px) skewX(15deg);
    }
}

@-moz-keyframes b10_tveffect_blue {

    from,
    to {
        opacity: 0;
    }

    25% {
        opacity: 1;
        transform: scale(1.2, 1.4) translate(-10px, -3px) skewX(-25deg);
    }

    50% {
        opacity: 1;
        transform: scale(1.9, 1.1) translate(16px, 3px) skewX(5deg);
    }

    75% {
        opacity: 1;
        transform: scale(1.3, 2) translate(-30px, -3px) skewX(20deg);
    }
}



#light,
#dark {
    width: 90%;
    transition: opacity 4s ease;
    display: inline;
    position: fixed;
    top: 20%;
    left: 5%;
}

#light {
    opacity: 1;
}

#dark {
    opacity: 0;
    z-index: 6;

}

#eldritch-speak {
    font-family: 'Kremlin-Orthodox-Church', Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    color: white;
    top: 80%;
    font-size: 24px;
    z-index: 6;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 4s ease;
    z-index: 5;
}


@media screen and (max-width: 800px) {
    .pop-up {
        width: 500px;
    }
}

@media screen and (max-width: 500px) {
    .thick-padding {
        padding: 50px 40px;
    }

    .pop-up {
        width: 350px;
    }

    .pop-up.active {
        transform: translateY(-60px);

    }

    .containment {
        margin: 80px auto auto auto;
        max-width: 300px;
    }
}


.darken {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Make sure it's above other content */
}


.scratch-card {
    position: relative;
}

.scratch-image {
    display: block;
    width: 200px;
    /* Adjust according to your image size */
    height: auto;
}

.scratch-canvas {
    position: absolute;
    top: 0;
    left: 0;
}


.above-the-clouds {
    z-index: 3;
    background-color: var(--red-dark);
    position: relative;
    width: 100%;
}

.draggable {
    font-family: 'AbscissaBold', 'Arial', sans-serif;
    font-size: 24px;
    user-select: none;
    cursor: move;
    background: var(--red-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 16rem;
    margin-bottom: 10px;
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}


.opacity {
    opacity: 0.5;
}

.drag {
    position: fixed;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.16);
}

.placeholder {
    margin-bottom: 10px;
    height: 4px;
    margin-top: -14px;
    /* default space + placeholder height */
    transform: translateY(7px);
    /* placeholder margin-top / 2 */
    background-color: deeppink;
    border-radius: 2px;
}